<div class="budgetItem-list-row container">
  <button (click)="deleteRow()" class="delete-button">
    <mat-icon class="delete-icon" 
      [style.visibility]="deleteVisible">
      delete_outline
    </mat-icon>
  </button>
  <div class="form-group budgetItem-list-form-group">
    <input  type="text" 
      class="form-control budgetItem-list-textbox" 
      [attr.value]="title"
      onclick="this.select()"
      (select) = "inputSelected()"
      (focusout) = "inputDeselected()">
  </div>
  <app-dollar-entry></app-dollar-entry>
  <app-dollar-entry></app-dollar-entry>
</div>
<div class="budgetItem-list-underline"></div>
